fastapi
uvicorn[standard]
python-dotenv
elevenlabs
langchain-ollama
langchain-core
langchain-google-genai
langgraph
langchain-xai
httpx
websockets
google-cloud-speech
slowapi
pyaudio
langchain
requests